VITE_EMAILJS_PUBLIC_KEY=pLZjbkiSnxwLTLK7G
VITE_EMAILJS_SERVICE_ID=service_ao957l6
VITE_EMAILJS_TEMPLATE_ASISTENTE_ID=template_6qec1n8
VITE_EMAILJS_TEMPLATE_ORGANIZADOR_ID=template_l5egac8
VITE_EMAILJS_ORGANIZADOR_EMAIL=6a.semana.geofisica@gmail.com
VITE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbyiLAXIQYyh51MMIDySHMOgFuFQnnYEKklZ4381WozskLCS55CbMkrESHoGzlu_esPZRg/exec